.editor {
  background-color: white;
  border: 1px solid $grey;
  display: flex;
  flex-direction: column;
  padding: $large-space;
  width: 100%;
}

.editor__question {
  border: none;
  border-bottom: 2px solid $grey;
  border-radius: 4px;
  font-size: $large-font-size;
  margin-bottom: $large-space;
  outline: none;
  padding: $input-spacing;
  resize: none;
}

.editor__answers {
  border-radius: 4px;
  flex-grow: 1;
  font-size: $large-font-size / 1.3;
  font-weight: 300;
  margin-bottom: $large-space;
  outline: none;
  padding: $input-spacing;
  resize: none;
}

.editor__message {
  text-align: center;
  margin: $large-space * 2;
  font-style: italic;
}

.editor__right {
  cursor: pointer; 
}

.editor__right:hover {
  background-color: $light-grey;
}

.editor__right:focus {
  background-color: $light-grey;
  border: 2px solid green;
}

.editor__wrong {
  cursor: pointer; 
}

.editor__wrong:hover {
  background-color: $light-grey;
}

.editor__wrong:focus {
  background-color: $light-grey;
  border: 2px solid red;
}